@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_18pt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Peyda';
    src: url('/fonts/peyda/peyda-extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('/fonts/peyda/Peyda-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('/fonts/peyda/peyda-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('/fonts/peyda/Peyda-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('/fonts/peyda/Peyda-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('/fonts/peyda/Peyda-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('/fonts/peyda/Peyda-SemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('/fonts/peyda/Peyda-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-inter: 'Inter', sans-serif;
    --font-peyda: "Peyda", "sans-serif";

    --color-background: #0D0D0D;
    --color-foreground: #fafafa;
    --color-muted-foreground: #a1a1aa;
    --color-thgray-100: #28282c;
    --color-thgray-200: #3e3e44;
    --color-thgray-300: #323237;
}

@utility container {
    padding-inline: 1rem;
    margin-inline: auto;

    @variant sm {
        padding-inline: 1.5rem;
    }

    @variant lg {
        padding-inline: 1.5rem;
    }

    @variant xl {
        padding-inline: 3rem;
    }

    @variant 2xl {
        padding-inline: 8rem;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeLegibility;
}

.center {
    @apply flex justify-center items-center;
}

* {
    transition: all 0.2s ease;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

a,
button,
nuxt-link,
NuxtLink {
    cursor: default;
}

::selection {
    background-color: #ffffff15;
    color: #FFFFFF;
}